body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.text-color-global {
    color: rgb(92, 92, 92);
}

.text-color-title-global {
    color: rgb(109, 109, 109) !important
}

#content_0 {
    height: auto;
    padding: 8px;
}

#column_0 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px !important;
}

.ant-layout-content {
    padding: 0 !important;
}

#task-board {
    overflow-y: auto;
    overflow-x: hidden;
}